@using ForumSystem.Web.ViewModels;

@model IEnumerable<ForumSystem.Web.ViewModels.Home.IndexBlogPostViewModel>
@{
    ViewBag.Title = "Home";
}

@Html.Partial("_SuccessfullMessage")

<div class="container">
    @foreach (var post in Model)
    {
    <div class="row">
        @if (User.Identity.IsAuthenticated)
        { 
            @Html.Partial("_VoteForPostPartial", new VoteViewModel() { PostId = post.Id, PostVotes = post.Votes })
        }
        else
        {
            <div class="col-md-1">
                <div class="well text-center">
                    <div class="row">@(post.Votes != null ? post.Votes : 0)</div>
                    <div class="row">votes</div>
                </div>
            </div>
        }

        <div class="col-md-1">
            <div class="well text-center">
                <div class="row">0</div>
                <div class="row">answers</div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <h4>
                    <a href="/@post.Id/@post.Title">@post.Title</a>
                </h4>
            </div>
            <div class="row">
                <p>asked 35 minutes ago in Kids Academy - програмиране за деца by a.dimitrov04 (40 points)</p>
            </div>
            <div class="row">
                @foreach (var tag in post.Tags)
                {
                    <span class="label label-default">@tag.Title</span>
                }
            </div>
        </div>
    </div>
    <hr />
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}
